# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs and debug files
*.log
*.out
*.err

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
*.env
*.env.*

# Byte-compiled files
*.pyc

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg-info/